body {
  margin: 0;
  background: linear-gradient(135deg, #0b132b, #1c2541);
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: rgba(0,0,0,0.35);
  padding: 30px;
  border-radius: 18px;
  text-align: center;
  width: 100%;
  max-width: 380px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

h1 {
  font-size: 22px;
  margin-bottom: 5px;
}

h2 {
  font-size: 16px;
  font-weight: normal;
  color: #6fffe9;
  margin-bottom: 15px;
}

p {
  font-size: 14px;
  line-height: 1.6;
}

.btn {
  display: block;
  margin-top: 20px;
  background: #1a73e8;
  color: white;
  padding: 15px;
  text-decoration: none;
  border-radius: 12px;
  font-weight: bold;
  font-size: 15px;
}

.btn:hover {
  background: #4285f4;
}

small {
  display: block;
  margin-top: 15px;
  font-size: 12px;
  opacity: 0.85;
}
.pay {
  background: #00b1ea; /* color MercadoPago */
  margin-bottom: 10px;
}

.pay:hover {
  background: #0096c7;
}
